body {
background: rgb(172,187,120);
background: linear-gradient(117deg, rgba(172,187,120,1) 0%, rgba(122,161,210,1) 100%);
margin: 0px;
padding: 30px;
min-height: 100vh;
  }

  /*Gonna fix my fonts, font size, font weight-fixed!*/
  /*Also, check if my text can have color or if it would affect readability*/


  header, section, footer {
      margin-left: 30px;
  }
  .resume-title {
      font-size: 50px;
      font-family: monospace;
      font-weight: 700;
     
  }

  .name {
      font-size: 26px;
      font-family: monospace;
      font-style:oblique; 
      font-weight: 600;
      
      
  } 

  /*Gonna ask Michelle about why the .name class didn't work until I changed the class name*/
  /*name class was first named 'that-is-my-name', then 'my-name'*/
  /*when the first class names didn't work, I tried just name', then it worked*/


  .working-experience, .education, .my-skills {
      font-size: 20px;
      font-family: monospace;
      font-style: oblique;
      font-weight: 400;
      


  }

  .jobs-i-have-had, .my-listed-educations, .my-listed-skills {
      font-size: 18px;
      font-family: monospace;
     


  }

  .how-to-contact-me {
      font-size: 40px;
      font-family: monospace;
      font-weight: 600;
      margin-bottom: 50px;
    
  }

  .footer{
      display: block;
      margin: 30px;
      max-width: 1280px;
      height: 25px;
      padding-top: 10px;
      padding-bottom: 40px;

  }


/*gonna read more about links and icons*/
/*mail - mail glyph*/
/*instagram - instagram logo*/
/*github - github logo*/
/*also, gonna learn more about padding around elements*/